@model string

@{
    ViewData["Title"] = "Sweet Sounds Music School ";
}
<div class="text-center">

    <h1 class="display-4">About Us</h1>


    <div class="content">
        <p>
            ** About information  **
        </p>
    </div>


</div>