
<div class="ClassTableCenter">

    <h1>About Our Classes</h1>

    <table class="ClassInfo">
        <tr>
            <th>Private Piano Lessons (0 to 4 Years)</th>
            <th>PreSchool Piano Foundation  (2 to 4 Years)</th>
            <th>Early Years Music</th>
        </tr>
        <tr>
            <td>
               description
            </td>
            <td>description</td>
            <td>description</td>
        </tr>
    </table>

    <br />
   
        <table class="ClassInfo">
            <tr>
                <th>Class</th>
                <th>Location</th>
                <th>Time</th>
                <th>Weekday</th>
            </tr>
            <tr>
                <td>Children 0 to 4 Years</td>
                <td>Georgertown </td>
                <td>10:45AM</td>
                <td>Tuesdays</td>
            </tr>
            <tr>
                <td>Children 0 to 18 Months</td>
                <td>Georgertown </td>
                <td>11:45 AM</td>
                <td>Tuesdays </td>
            </tr>
            <tr>
                <td>Children 0 to 4 Years</td>
                <td>OakVille </td>
                <td>10:30AM</td>
                <td>Wednesday</td>
            </tr>
            <tr>
                <td>Children 0 to 18 Months</td>
                <td>OakVille </td>
                <td>11:45 AM</td>
                <td>Wednesday </td>
            </tr>
            <tr>
                <td>Children 0 to 4 Years</td>
                <td>Milton </td>
                <td>10:30AM</td>
                <td>Thursday</td>
            </tr>
            <tr>
                <td>Children 0 to 18 Months</td>
                <td>Milton </td>
                <td>11:45 AM</td>
                <td>Thursday </td>
            </tr>
        </table>



</div>

