
<div class="text-center">

    <h1>About Our Classes</h1>

    <table border="1">
        <tr>
            <th>Private Piano Lessons (0 to 4 Years)</th>
            <th>PreSchool Piano Foundation  (2 to 4 Years)</th>
            <th>Early Years Music</th>
        </tr>
        <tr>
            <td>
               description
            </td>
            <td>description</td>
            <td>description</td>
        </tr>
    </table>
</div>

