@model Capstone1.Models.ClassChoosenDetails;

<h1>Please Choose One Of The Given Classes</h1>


<div class="FormDiv">

    <p>Please pick the age group and the location you wish to attend</p>

    <form method="Post" asp-action="Registration">


    <span>
        <select asp-for="Lesson"
                    asp-items="Model.Lessons" value="Model.Lessons" name="LessonPicked">
            </select>
    </span>

    <span>
            <select asp-for="Location"
                    asp-items="Model.Locations" value="Model.Locations" name="LocationPicked">
            </select>
    </span>

        <nav class="buttons">

            <a asp-action="Index" class="Cancel">Cancel</a>
            <button type="submit" class="submit">Register</button>

        </nav>
     
</form>
</div>