
<div class="text-center">

    <h1>About Our Classes</h1>

    <table border="1">
        <tr>
            <th>Private Piano Lessons (0 to 4 Years)</th>
            <th>PreSchool Piano Foundation  (2 to 4 Years)</th>
            <th>Early Years Music</th>
        </tr>
        <tr>
            <td>
                Classes last 45 Minutes, from 10:30-11:25 every Tuesday, Wednesday and Thursday,
                Which is run in a six week time frame.
                <br />
                pricing
            </td>
            <td>Date and times / pricing</td>
            <td>Date and times / pricing</td>
        </tr>
    </table>
</div>

