@model Capstone1.Models.ClassChoosenDetails;

<h1>Please Choose One Of The Given Classes</h1>





<div class="FormDiv">

    <p>Please pick the age group and the location you wish to attend</p>

    <form method="Get" asp-action="Registration">



		<div class="ClassTableCenter">
			@foreach (var item in Model.All.ToList())
			{
				<hr />
				<input asp-for="Lesson" value="@item.Value" type="radio" id="lessons" class="custom-radio">
				<label asp-for="Lesson">@item.Text</label>
				
				<hr />
			}
			
		</div>
        

        <nav class="buttons">

            <a asp-action="Index" class="Cancel">Cancel</a>
            <button type="submit" class="submit">Register</button>

        </nav>
     
</form>


 

</div>