@using Capstone1.Models
@model Capstone1.Models.AllInformation;
@{
    ViewBag.Title = "Complete";
}

@{
    var data = ViewBag.Message;
}

<div class="text-center">

    <h2>Thank You For Registering With Sweet Sounds Music School</h2>
    <h3>Please Review Your entered Information</h3>

    <p></p>

   
    

</div>
