
@model string

@{
    ViewData["Title"] = "Sweet Sounds Music School ";
}

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}

<div class="text-center">

    <h1 class="display-4">Sweet Sounds Music School</h1>

   



    <nav class="grid-container">
        
        <span class="grid-item content">
            <img src="./Imgaes/parachute.jpg" alt="-parachute Image-" class="homeImage">
            <br />
            <a asp-action="about" class="link">About Us</a>
        </span>

        <span class="grid-item content">
            <img src="./Imgaes/piano.jpg" alt="-Piano Image-" class="homeImage">
            <br />
            <a asp-action="ClassDetails" class="link">Music Lessons</a>
        </span>

        <span class="grid-item content">
            <img src="./Imgaes/violin.jpg" alt="-Violin Image-" class="homeImage">
            <br />
            <a asp-action="PriceInfo" class="link">Pricing</a>
        </span>
    </nav>


    <article class="grid-text">
        <p class="grid-item-text">
            <strong>Brief Description</strong> <br />
            Sweet Sounds Music understands the power behind learning any new skills when combined with a 
            love for music, for both children and adults.
   
            Sweet Sounds Music School was founded to provide a place where passion and student learning can be used to enrich people’s lives.
        </p>

        <p class="grid-item-text">
            <strong>Brief Pricing Overview</strong> <br />
            1st child is full price. 2nd sibling if older than 1 year old is 50% off (same with 3rd, 4th etc). If the sibling is under 1 yr they are free.
        </p>

        <p class="grid-item-text">
                <a asp-action="ClassPicker" class="register">Register</a>
        </p>
    </article>


    <!--
    <a asp-action="temp" >Temp</a>
    <a asp-action="stripe">Stripe</a>
        -->

   






    <br />
    <br />
</div>
  