
@model string

@{
    ViewData["Title"] = "Sweet Sounds Music School ";
}

<div class="text-center">

    <h1 class="display-4">Sweet Sounds Music School</h1>

    <p>
       <h3>Register</h3> <a asp-action="GotoReg">Register</a>
    </p>

    <nav>
        
        <span>
            <a asp-action="#">About Us</a>
        </span>

        <span>
            <a asp-action="ClassDetails">Music Lessons</a>
        </span>

        <span>
            <a asp-action="#">Pricing</a>
        </span>
    </nav>

    
    

    

</div>
  