@model string

@{
    ViewData["Title"] = "Sweet Sounds Music School ";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>
       <h3>Register</h3> <a asp-action="GotoReg">Here</a>
    </p>
    
    <div>
        testing saving from Aleks' side
    </div>

</div>
