@model Capstone1.Models.Payment



<div class="text-center">

    <h1>Payment Information</h1>

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form method="post" asp-action="PaymentProceed">

                    <div class="row">
                        <div class="col-50">
                            <h3>Bank Card Information</h3>


                            <label asp-for="FullName" >Name on Card: (First & Last)</label>
                                <input asp-for="FullName" type="text" placeholder="FirstName LastName"
                                   pattern="[A-Za-z ]+" required>

                            <label asp-for="CardNumber">Number On Card (16 digit):</label>
                                <input asp-for="CardNumber" type="text" id="ccnum" name="cardnumber"
                                   placeholder="1111-2222-3333-4444" pattern="\d{4}-\d{4}-\d{4}-\d{4}" required>

                            <label asp-for="ExpiryMonth">Expiry Month:</label>
                                <input asp-for="ExpiryMonth" type="text" id="expmonth"
                                   name="expmonth" placeholder="10" pattern="\d{1}|\d{2}" required>

                            <div class="row">
                                <div class="col-50">
                                    <label asp-for="ExpiryYear">Expiry Year:</label>
                                    <input asp-for="ExpiryYear"  type="text" id="expyear" name="expyear"
                                           placeholder="2026" pattern="\d{4}" required>
                                </div> 
                                <div class="col-50">
                                    <label asp-for="CVVNumber">CVV (3 digit number) :</label>
                                        <input asp-for="CVVNumber" type="text" id="cvv" name="cvv"
                                           placeholder="000" pattern="\d{3}" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3>Billing Address/Information</h3>

                            <label asp-for="BFullName">Fist & Last Name:</label>
                                <input asp-for="BFullName" type="text" id="fname" name="fname"
                                   placeholder="FirstName LastName" pattern="[A-Za-z ]+">

                            <label asp-for="BEmail">Email Address:</label>
                                <input asp-for="BEmail" type="text" id="email" name="email" 
                                    placeholder="address@domain.ca">
                            
                            <label asp-for="BAddress">Address:</label>
                                <input asp-for="BAddress" type="text" id="adress" name="address" 
                                    placeholder="1234 Berksview street">

                            <label asp-for="BCity">City:</label>
                                <input asp-for="BCity" type="text" id="city" name="city" placeholder="Mississauga">

                            <label asp-for="BPostalCode">Postal/Zip Code:</label>
                                <input asp-for="BPostalCode" type="text" id="zip" name="zip" 
                                    placeholder="10001">
                        </div>

                    </div>
                    <br />
                    <nav class="buttons">

                        <a asp-action="Index" class="Cancel">Cancel</a>
                        <button type="submit" class="submit">Proceed With Payment</button>

                    </nav>
              
                </form>
            </div>
        </div>

    </div>
   
</div>