@model string

@{
    ViewData["Title"] = "Sweet Sounds Music School ";
}


<div class="text-center">

    <h1>Pricing Information</h1>

    <div class="grid-container">

        <div class="grid-item content">
            <table>
                <tr>
                    <th>Private Piano Lessons (0 to 4 Years)</th>
                </tr>
                <tr>
                    <td>
                        Dates and times
                    </td>
                </tr>
                <tr>
                    <td>
                        pricing
                    </td>
                </tr>
            </table>
        </div>

        <div class="grid-item content">
            <table>
                <tr>
                    <th>Preschool Piano Foundations (2 to 4 Years)</th>
                </tr>
                <tr>
                    <td>
                        Dates And Times
                    </td>
                </tr>
                <tr>
                    <td>
                        pricing
                    </td>
                </tr>
            </table>
        </div>

        <div class="grid-item content">
            <table>
                <tr>
                    <th>Piano Lessons ( 4 years and up )</th>
                </tr>
                <tr>
                    <td>
                        Dates And Times
                    </td>
                </tr>
                <tr>
                    <td>
                        pricing
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
