@model Capstone1.Models.RegisterForm

<h1>Registration Page</h1>


<div class="FormDiv">

  <p>Please fill out the following information to register for Sweet Sounds Music School</p>

<form method="post" asp-action="RegSuccess">

    <span>
        <label asp-for="ParentName">Parent's Name: </label>
        <input asp-for="ParentName" type="text" required/>
    </span>

    <span>
        <label asp-for="ChildName">Child's Name: </label>
            <input asp-for="ChildName" type="text" required />
    </span>



    <span>
        <label asp-for="ChildAge">Child's Age: </label>
            <input asp-for="ChildAge" type="number" step="1.0" required />
    </span>


    <span>
        <label asp-for="Email">Parent's Email: </label>
            <input asp-for="Email" type="email" required />
    </span>


    <span>
        <label asp-for="Phone">Parent's phone: </label>
            <input asp-for="Phone" type="tel" required />
    </span>

   
    <span>
        <label asp-for="ContactPreference">Contact Preference: </label>
        <select asp-for="ContactPreference">
            <option value="phonecall">Phone Call</option>
            <option value="phonecall">Email</option>
            <option value="phonecall">Text</option>
            <option value="phonecall">Social Media</option>
            </select>
    </span>


    
    <nav class="buttons">
        

        <a asp-action="Index" class="Cancel">Cancel</a>
        <button type="submit" class="submit">Register</button>

    </nav>
    
    

</form>

</div>

